header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    margin-left: 20px;
}
